.font-italic {
  font-style: italic;
}

.active-trips {
  background-color: white;
}

.not-active-trips {
  background-color: #e9ecef;
}

.margin-left {
  margin-left: 10px;
}


.trip_started_at {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.trip-form {
  align-items: baseline;
  width: 100%;
}
